* {
  font-family: "Open Sans", sans-serif;
}

*::-moz-selection {
  background: #b9e9b9;
  color: #555;
}

*::selection {
  background: #b9e9b9;
  color: #555;
}

.container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

main {
  background-image: url("https://p.w3layouts.com/demos/notebook/web/images/sliderbg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main header .container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main header .container a {
  color: white;
}

main header .container .logo a h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

main header .container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main header .container nav ul li {
  margin-left: 15px;
}

main header .container nav ul li a {
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

main header .container nav ul li a:hover {
  background: #393b3a;
  color: #64939e;
}

main header .container nav ul li a.active {
  background: #393b3a;
  color: #64939e;
}

main header .container nav ul li a:first-letter {
  text-transform: uppercase;
}

main .container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 160px;
}

main .container .content h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 20px;
}

main .container .content p {
  display: inline-block;
  letter-spacing: 2px;
  word-spacing: 5px;
  font-size: 24px;
  font-weight: 5px;
  padding-bottom: 20px;
}

main .container .button {
  padding-bottom: 70px;
}

main .container .button .order-now {
  display: inline-block;
  padding: 17px 70px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: white;
  background: #91a8ae;
  margin-top: 15px;
  border-radius: 3px;
}

main .container .button .order-now:hover {
  background: #62919c;
}

.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .p1 {
  margin-top: 30px;
  font-size: 40px;
  margin-bottom: 30px;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  opacity: 0.6;
}

.section1 p {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
  opacity: 0.6;
}

.section1 i {
  display: inline-block;
  padding-bottom: 40px;
  font-size: 40px;
}

.section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #73a1ad;
}

.section2 .p2 {
  color: white;
  font-size: 40px;
  margin-top: 30px;
  font-weight: 600;
}

.section2 p {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.section2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section2 div img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 .p3 {
  font-weight: 600;
  font-size: 25px;
  margin-top: 40px;
}

.section3 p {
  margin-bottom: 20px;
  font-size: 20px;
}

.section3 .parent {
  width: 100%;
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section3 .parent .title {
  font-weight: bolder;
}

.section3 .parent .child1 {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child1 .top {
  font-size: 25px;
  width: 100%;
  background: #485460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 28px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child1 .top:hover {
  background-color: black;
}

.section3 .parent .child1 .mid {
  background: #e9eef2;
  padding-top: 10px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child1 .mid p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section3 .parent .child1 .mid p a {
  color: black;
}

.section3 .parent .child1 .bot {
  font-size: 20px;
  width: 100%;
  background: #485460;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 28px;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child1 .bot:hover {
  background-color: black;
}

.section3 .parent .child2 {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child2 .top {
  font-size: 25px;
  width: 100%;
  background: #58ad52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 28px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child2 .top:hover {
  background: #2b7426;
}

.section3 .parent .child2 .mid {
  background: #dfebdf;
  padding-top: 10px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child2 .mid p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section3 .parent .child2 .mid p a {
  color: black;
}

.section3 .parent .child2 .bot {
  font-size: 20px;
  width: 100%;
  background: #58ad52;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 28px;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child2 .bot:hover {
  background: #2b7426;
}

.section3 .parent .child3 {
  width: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child3 .top {
  font-size: 25px;
  width: 100%;
  background: #489eab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 17px 28px;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child3 .top:hover {
  background: #1f7986;
}

.section3 .parent .child3 .mid {
  background: #e9eef2;
  padding-top: 10px;
  padding-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section3 .parent .child3 .mid p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.section3 .parent .child3 .mid p a {
  color: black;
}

.section3 .parent .child3 .bot {
  font-size: 20px;
  width: 100%;
  background: #489eab;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px 28px;
  color: white;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.section3 .parent .child3 .bot:hover {
  background: #1f7986;
}

.section3 span {
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.section4 {
  background: #2d3035;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.section4 .span1 {
  color: white;
  font-size: 30px;
  margin-top: 40px;
  font-weight: 600;
}

.section4 span {
  color: #acb7b9;
  font-size: 20px;
  margin-top: 20px;
}

.section4 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section4 form input {
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 150px;
  border: 2px solid white;
  border-radius: 1%;
  background-color: #2d3035;
  font-size: 20px;
  color: white;
}

.section4 form .message {
  padding-bottom: 40px;
  border: 2px solid white;
  border-radius: 1%;
  background-color: #2d3035;
  font-size: 20px;
  color: white;
}

.section4 form div {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section4 form div a {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #a4b9be;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 1%;
  color: #2d3035;
}

.section4 form div a:hover {
  background: white;
}

.container .section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .section5 p a {
  font-weight: 600;
  color: #17a2b8;
}

.container .section5 p a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.container .section5 nav {
  display: inline-block;
}

.container .section5 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .section5 nav ul li {
  margin-left: 15px;
}

.container .section5 nav ul li a {
  display: inline-block;
  padding: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #272727;
}

.container .section5 nav ul li a:hover {
  background: #393b3a;
  color: #64939e;
}

.container .section5 nav ul li a.active {
  background: #393b3a;
  color: #64939e;
}

.container .section5 nav ul li a:first-letter {
  text-transform: uppercase;
}

.container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container div video {
  margin-top: 50px;
  width: 80vh;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail {
  width: 10vh;
  height: 35vh;
  position: fixed;
  z-index: 9999;
  top: 8vh;
  right: 0;
  margin-bottom: 70px;
  background: #0d1326;
  border-radius: 9px;
}

.detail div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
}

.detail div a {
  font-weight: normal;
  color: white;
  opacity: 0.6;
}

.detail div .active:hover {
  opacity: 1;
}
/*# sourceMappingURL=bai11.css.map */