html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}
/*# sourceMappingURL=reset.css.map */